# Sales Prediction

Given historical sales data from from January 2013 to October 2015 of certain items (item_id) in certain shops (shop_id), forecast the sales for November 2015.

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

In [25]:
#item_categories = pd.read_csv("data/item_categories.csv")
#display(item_categories.head())
items = pd.read_csv("data/items.csv.zip")
display(items.head())
sales_train = pd.read_csv("data/sales_train.csv.zip")
display(sales_train.head())
#shops = pd.read_csv("data/shops.csv")
#display(shops.head())

# for later
#test = pd.read_csv("data/test.csv.zip")
#display(test.head())
#sample_submission = pd.read_csv("data/sample_submission.csv.zip")
#display(sample_submission.head())

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [31]:
display(sales_train.shape)
display(sales_train.describe())
display(sales_train.dtypes)
display(sales_train.memory_usage(deep = True))

(2935849, 6)

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

Index                   128
date              196701883
date_block_num     23486792
shop_id            23486792
item_id            23486792
item_price         23486792
item_cnt_day       23486792
dtype: int64

In [29]:
features = ['date_block_num', 'shop_id', 'item_id', 'item_price', 'item_cnt_day']
display(sales_train[features]groupby(['date_block_num', 'shop_id', 'item_id']).mean())

         item_price  item_cnt_day
count  1.609124e+06  1.609124e+06
mean   7.908847e+02  1.071512e+00
std    1.551605e+03  1.241369e+00
min    9.000000e-02 -2.200000e+01
25%    1.990000e+02  1.000000e+00
50%    3.990000e+02  1.000000e+00
75%    8.985000e+02  1.000000e+00
max    3.079800e+05  1.000000e+03